.parceiros {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.desenvolvimento {
    margin-top: 100px;
}

.desenvolvimento h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.desenvolvimento > h1::after {
    content: "";
    display: block;
    width: 256px;
    height: 5px; 
    margin: 10px auto 0;
    background-image: url('../img/pseudoelement.svg');
}

.desenvolvimento > div {
    margin-top: 50px;
}

.desenvolvimento p {
    text-align: justify;
    margin-top: 20px;
    font-size: 1rem;
}

#image-list {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: max-content;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media(max-width: 700px) {
    .desenvolvimento {
        margin-top: 50px;
    }

    .desenvolvimento h1 {
        font-size: 1rem;
    }

    .desenvolvimento p {
        font-size: .875rem;
    }

    #image-list li div > img {
        width: 80px;
    }
}