.info {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: 20px;
  align-items: center;
}

.info > p {
  font-size: 1rem;
  text-align: justify;
}

.info img {
  animation: flutuar 3s ease-in-out infinite;
}

@media (max-width: 1000px) {
  .info {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .info div:first-child {
    grid-row: 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .info > p {
    font-size: 0.875rem;
  }
}
