.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 100px;
}

.conteudo div div > img {
    width: 150px;
    height: auto;
}

.conteudo > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo > div:last-child > img {
    animation: flutuar 3s ease-in-out infinite;
}

.conteudo h1 {
    margin-top: 25px;
    font-size: 1.5rem;
    font-weight: normal;
}

.conteudo p {
    margin-top: 25px;
    text-align: justify;
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    background: var(--cor-primaria);
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    padding: 20px 120px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: .2s;
}

.button-dash {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: .2s;
    text-align: center; /* Garante centralização do texto */
}


.button:hover {
    background: #61264b;
}

.button-dash:hover {
    background: #78638a;
    color: #fff;
}

@media (max-width: 1000px) {
    .conteudo {
        margin-top: 50px;
    }
    .conteudo div div > img {
        width: 80px;
    }

    .conteudo h1{
        font-size: 1.25rem;
    }

    .conteudo p {
        font-size: .875rem;
    }

    .button {
        padding: 15px 80px;
        font-size: .875rem;
    }
    .button-dash {
        padding: 15px 30px;
        font-size: .875rem;
    }
}

@media (max-width: 800px) {
    .conteudo {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .buttons {
        display: inline-block;
    }
    .button-dash {
        margin-top: 10px;
    }
}