.menu-bg {
  padding: 15px 0;
  background: var(--cor-secundaria);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu > a {
  padding-right: 20px;
}

[data-menu='list'] {
  display: flex;
  gap: 40px;
}

[data-menu='list'] a {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;

  position: relative;
}

[data-menu='list'] a:hover {
  color: var(--cor-primaria);
}

[data-menu='list'] a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--cor-primaria);
  transition: width 0.3s ease;
}

[data-menu='list'] a:hover::after {
  width: 100%;
}

[data-menu='button'] {
  display: none;
}

/* @media (max-width: 1013px) {
    .menu ul {
        margin: 30px auto;
    }
} */

@media (max-width: 750px) {
  [data-menu='button'] {
    display: flex;
    align-items: center;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--cor-primaria);
    border: none;
    z-index: 300;
    cursor: pointer;
    position: relative;
  }

  [data-menu='button']:hover {
    background: #61264b;
    transition: 0.2s;
  }

  [data-menu='button']::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
  }

  [data-menu='list'] {
    display: none !important;
  }

  [data-menu='list'].ativo {
    display: block !important;
    position: absolute;
    background: #61264b;
    padding: 10px;
    top: 60px;
    right: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out;
    text-align: left;
    width: 150px;
    z-index: 400;
  }

  [data-menu='list'].ativo li a {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 10px;
  }

  .menu a > div > img {
    width: 150px;
    height: auto;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
