.menu-bg {
    padding: 15px 0;
    background: var(--cor-secundaria);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-list a {
    color: #fff;
    font-size: 1rem;
    transition: .2s;

    position: relative;
}

.menu-list a:hover {
    color: var(--cor-primaria);
}

.menu-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: width 0.3s ease;
}

.menu-list a:hover::after {
    width: 100%;
}