/* Contêiner principal de resultados */
.result-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Texto de resultado */
.result-text {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

strong {
  color: #5a073e; /* Cor de destaque no texto */
}

/* Gráfico do medidor */
.gauge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  top: 50px; /* Ajuste a posição de acordo com a necessidade */
  overflow: hidden;
  position: relative;
}

.gauge-center {
  position: relative;
  width: fit-content;
}

/* Grupo do gráfico (elementos dentro do gráfico) */
.gauge-group {
  position: absolute;
  left: 10.49%;
  right: 10.88%;
  top: 0%;
  bottom: -16.92%;
}

/* Agulha - Indicador da probabilidade */
.needle {
  position: absolute;
  bottom: 10%;
  left: 47%;
  min-width: 26px;
  min-height: 125px;
  transform: translateX(-50%) rotate(-100deg);
  transform-origin: center bottom;
  transition: transform 1s ease-in-out;
  background-image: url;
}

@media (max-width: 820px) {
  .result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 80px 20px 50px 20px;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .needle {
    max-width: 15px;
    max-height: 80px;
    position: absolute;
    bottom: 10%;
    left: 47%;
    width: 1rem;
    height: 5rem;
    transform: translateX(-50%) rotate(-100deg);
    transform-origin: left bottom;
    transition: transform 1s ease-in-out;
  }
  .gauge-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    top: 50px; /* Ajuste a posição de acordo com a necessidade */
    overflow: hidden;
    position: relative;
  }
}
