.sobre {
    margin-top: 100px;
}

.sobre img {
    animation: flutuar 3s ease-in-out infinite;
}

.sobre > h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.sobre > h1::after {
    content: "";
    display: block;
    width: 256px;
    height: 5px; 
    margin: 10px auto 0;
    background-image: url('../img/pseudoelement.svg');
}

.sobre-angels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.sobre-angels > div {
    flex: 1;
}

.sobre-angels h1 > span {
    color: var(--cor-primaria);
}

.sobre-angels p {
    font-size: 1rem;
    margin-top: 20px;
    text-align: justify;
}

.sobre-ferramenta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
}
  
.sobre-ferramenta > p {
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 1000px) {
    .sobre-angels p {
        font-size: .875rem;
    }

    .sobre-ferramenta > p {
        font-size: .875rem;
    }
}

@media (max-width: 750px) {
    .sobre-angels, .sobre-ferramenta {
        grid-template-columns: 1fr;
    }

    .sobre-angels div:first-child {
        grid-row: 2;
    }
}