.sobre {
    margin-top: 100px;
}

.sobre img {
    animation: flutuar 3s ease-in-out infinite;
}

.sobre > h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.sobre > h1::after {
    content: "";
    display: block;
    width: 256px;
    height: 5px; 
    margin: 10px auto 0;
    background-image: url('../img/pseudoelement.svg');
}

.sobre-angels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.sobre-angels > div {
    flex: 1;
}

.sobre-angels-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-angels h1 {
    font-size: 2.6rem;
    padding-bottom: 1.6rem;
}

.sobre-angels h1 > span {
    color: var(--cor-primaria);
}

.sobre-angels p {
    font-size: 1rem;
    margin-top: 20px auto 0 auto;
    text-align: justify;
    line-height: 1.3;
    width: 70%;
    max-width: 60ch;
    word-wrap: break-word;
}

.sobre-ferramenta {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
  }
  
.sobre-ferramenta > p {
    font-size: 1rem;
    flex: 1;
    margin-top: 50px auto 0 auto;
    text-align: justify;
    max-width: 55ch;
    line-height: 1.3;
    width: 70%;
    word-wrap: break-word;
}

@media screen and (max-width: 1024px) {

    .sobre-angels h1 {
        font-size: 2.8rem;
    }
    
    .sobre-angels-texto p {
        font-size: 1.3rem;
    }

    .sobre-ferramenta > p {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 500px) {
    .sobre-angels {
        flex-direction: column;
      }

    .sobre-angels-texto h1{
        text-align: left;
        width: 90%;
    }  

    .sobre-angels h1 {
        font-size: 1.5rem;
    }

    .sobre-angels > div:first-child {
        order: 2; 
    }
    
    .sobre-angels > div:last-child {
        order: 1;
    }
    
    .sobre-angels-texto p {
        font-size: 1rem;
        width: 90%;
        max-width: 60ch;
    }
    
    .sobre img {
        width: 50vw;
        height: auto;
        margin-top: 20px;
    }

    .sobre-ferramenta {
        display: flex;
        flex-direction: column;
    }

    .sobre-ferramenta > p {
        font-size: 1rem;
        flex: 1;
        width: 90%;
        max-width: 60ch;
        margin-top: 50px auto 0 auto;
        text-align: left;
        line-height: 1.3;
        word-wrap: break-word;
    }

    .sobre-ferramenta img {
        width: 50vw;
        height: auto;
        margin-top: 20px;
    }
    
}