.time {
    margin-top: 100px;
}

.time > h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
}

.time > h1::after {
    content: "";
    display: block;
    width: 256px;
    height: 5px; 
    margin: 10px auto 0;
    background-image: url('../img/pseudoelement.svg');
}

.time > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.time .time-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    gap: 40px;
}

.time .time-list li {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.time .time-list li:hover {
    transform: translateY(-10px);
}

.time .time-list li img {
    width: 100%;
    display: block;
    height: auto;
}

.time .time-list li h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px 0;
}

.time .time-list li p {
    text-align: justify;
}



